* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame {
  color: red;
  background-color: red;
  display: flex;
  flex-direction: column;
  height: 25rem;
}
.container {
  display: flex;
  flex-flow: row wrap;
}
button {
  height: 88px;
  border: solid black;
  flex-wrap: wrap;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  flex-basis: 25%;
  font-size: 60px;
  cursor: pointer;
}
input {
  flex-shrink: 0;
  height: 60px;
  border: solid black 2px;
  background-color: #b8bcb4;
}
#test {
  flex-grow: 1;
}
